body {background-color: lightgrey;
      padding:50px;}
h1   {color: blue;
      font-family: arial;
      font-size:4.2vw;
      text-align:center;
  }

  h3{color:#FF0088;
     font-family:arial;
      text-align:center;
       font-size:2.4vw;
     }
#photo-div{
  background-color:grey;
  padding:5px;
  margin: auto;
 width: 60%;
 }  
#details-div{
  padding:15px;
  margin: auto;
  margin-top:1.1vw;
 width: 60%;
}

