body {background-color: lightgrey;
      padding:50px;}
h1   {color: blue;
      font-family: arial;
      font-size: 100px;
      text-align:center;
      height:50px;}

  h3{color:#FF0088;
     font-family:verdana;
      text-align:center;
       font-size:42px}
#photo-div{
  background-color:grey;
  padding:}     
p    {color: blue;}

